.repo-wraper {
    margin-top: 200px;
    text-align: center;

    h1 {
        margin-bottom: 70px;
    }

    &>button {
        background: none;
        border: none;
        font-size: 1rem;
        color: rgb(221, 44, 74);
        padding: 10px;
        position: absolute;
        top: 20%;
        left: 5%;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s;

        &:hover svg {
            transform: translateX(-10px);
        }
    }

    &__list {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
}