.repo-list {
    text-align: center;

    &>button {
        background: none;
        border: none;
        background-color: cornflowerblue;
        font-size: 1rem;
        color: white;
        padding: 10px;
        border-radius: 2px;
    }
}