.search {
    margin-top: 150px;

    &__form {
        width: 60%;
        text-align: center;
        margin: 50px auto 0 auto;

        input {
            border: 0;
            outline: 0;
            background: none;
            border-bottom: 2px solid black;
            margin: 50px 0;
            font-size: 1.5rem;
            line-height: 3rem;
            width: 100%;
            text-align: center;
        }
    }

    &__content {
        display: flex;
        justify-content: center;

        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &__card {
                text-align: center;
                display: flex;
                flex-direction: column;
            }
        }

        &__octupus {
            width: 30%;
            justify-content: center;
            display: flex;

            img {
                width: 240px;
                height: 300px;
                transition: transform 0.5s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .error-cloud {
            align-items: center;
            background-color: bisque;
            width: 300px;
            height: 150px;
            display: inline-flex;
            justify-content: space-around;
            flex-direction: column;
            position: relative;
            border-radius: .4em;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                border: 20px solid transparent;
                border-left-color: bisque;
                border-right: 0;
                border-top: 0;
                margin-top: -10px;
                margin-right: -20px;
            }

        }

    }

}